{{ define "content" }}
    <form>
        <label for="device">Scanner:</label>
        <select id="device">
        {{ range $index, $device := .Devices }}
            <option value="{{ .Name }}">{{ .Model }}</option>
    {{ end }}
        </select>
    </form>
{{ end }}
